.testi-img{
	position: relative;
}
.bg-image-testi {
    width: 100%;
}
.testi-user-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
}
.testi-detail h4 {
    font-family: 'Graphit-Regular';
    font-size: 20px;
    letter-spacing: 0.3px;
    margin-bottom: 15px;
}
.testi-detail h6 {
    font-family: 'Graphit-Regular';
    font-size: 14px;
    color: #B0B3B8;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
}
.testi-detail p{
	font-family: 'Graphit-Regular';
	color: #3C393A;
}
.testi-flex-slider{
	display: flex;
}
.testi-main-slide-box{
	width: 88%;
}
.testi-thumb-slide-box{
	width: 12%;
}
.testi-user-thumb{
	text-align: center;
}
.testi-user-thumb img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    transform: scale(0.7);
    transition: 0.3s;
    margin: 8px 0px;
}
.slick-current.testi-user-thumb img{
	transform: scale(1);
}
.slick-thumb-prev{
	opacity: 0;
	visibility: hidden;
}
.slick-thumb-next,
.slick-thumb-prev{
	text-align: center;
	cursor: pointer;
}
.slick-thumb-next img,
.slick-thumb-prev img{
	max-width: 11px;
}








@media (max-width:  991px){
	.testi-flex-slider{
		flex-direction: column;
		align-items: center;
	}
	.testi-main-slide-box{
		width: 100%;
	}
	.testi-thumb-slide-box{
		width: 100%;
	}
	.slick-thumb-next, 
	.slick-thumb-prev {
	    text-align: center;
	    cursor: pointer;
	    position: absolute;
	    transform: rotate(-90deg);
	    top: 20px;
	}
	.slick-thumb-prev{
		left: 0;
		opacity: 1;
		visibility: visible;
	}
	.slick-thumb-next{
	    right: 0;
	}
	.testi-thumb-slide-box{
		margin-top: 20px
	}
	.testi-box{
		margin-bottom: 30px
	}
}



@media (max-width:  575px){
	.testi-user-img{
		width: 150px;
	    height: 150px;
	    max-width: 150px;
	    max-height: 150px;
	}
}