@charset "utf-8";
/* CSS Document */


/*---between--------*/
@media screen and (min-width:1499px) and (max-width:1899px){

}






/*---min-width------*/
@media (min-width: 349.98px) {
	
}

@media (min-width: 479.98px) {
	
}

@media (min-width: 575.98px) {

}

@media (min-width: 767.98px) {
    
}

@media (min-width: 991.98px) {

}

@media (min-width: 1199.98px) {

}

@media (min-width: 1399.98px) {

}












/*---max-width------*/
@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {
    .nav-bar > ul > li{
        margin: 0 10px;
    }
    .page-ath-gfx {
        width: 55%;
    }
    .page-ath-content {
        width: 45%;
    }
    .col-heading {
        display: none !important;
    }
}

@media (max-width: 991.98px) {
    .account-right {
        margin-left: auto;
    }
    .menu-part {
        position: fixed;
        width: 250px;
        height: 100vh;
        background: #fff;
        padding: 15px;
        padding-top: 65px;
        right: -100%;
        top: 0;
        overflow-x: hidden;
        z-index: 99;
        transition: 0.5s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
    .menu-part.active{
    	right: 0;
    }
    .close-menu {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 55px;
        height: 50px;
        background-color: #ff3761;
        border-bottom-left-radius: 50px;
        text-align: center;
        padding-left: 15px;
        padding-top: 10px;
        color: #fff;
        font-size: 14px;
    }
    .toggle-btn {
        position: relative;
        height: 50px;
        width: 25px;
        display: block;
        margin-left: 15px;
    }
    .toggle-btn a{
        display: block;
    }
    .toggle-btn a:before {
        content: '';
        position: absolute;
        top: 15px;
        right: 0;
        width: 100%;
        -moz-border-radius: 1px;
        border-radius: 1px;
        overflow: hidden;
        background: #fff;
        height: 2px;
        transition: all 0.3s;
    }
    .toggle-btn a:after {
        content: '';
        position: absolute;
        top: 31px;
        right: 0px;
        width: 60%;
        -moz-border-radius: 1px;
        border-radius: 1px;
        height: 2px;
        overflow: hidden;
        background: #fff;
        -webkit-transition-property: width,background;
        -moz-transition-property: width,background;
        transition-property: width,background;
        -webkit-transition-duration: 0.3s,0.3s;
        -moz-transition-duration: 0.3s,0.3s;
        transition-duration: 0.3s,0.3s;
    }
    .toggle-btn a .middle-line {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        top: 23px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        right: 0;
        transition: all 0.3s;
    }
    .header-sticky .toggle-btn a:before,
    .header-sticky .toggle-btn a:after,
    .header-sticky .toggle-btn a .middle-line{
        background-color: #3C393A;
    }
    .toggle-btn a .middle-line:after {
        content: '';
        position: absolute;
        right: -20;
        top: -25px;
        padding-left: 28px;
        height: 50px;
    }

    .nav-bar > ul > li a {
        padding: 8px 18px;
        color: #B0B3B8;
        font-weight: 500;
        display: inline-block;
    }
    .nav-bar > ul > li{
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .header-btn {
        padding: 0;
        background-color: transparent;
        min-width: auto;
        font-size: 20px;
    }
    .header-sticky .header-btn{
        color: #3C393A;
    }
    .header-btn span{
        display: none;
    }
    .header-btn i{
        display: inline-block;
    }
    .nav-bar > ul > li a::before{
        background-color: #ff3761;
    }
    .nav-bar > ul > li a:hover,
    .nav-bar > ul > li.active a{
        color: #ff3761;
    }
    .page-ath-gfx {
        width: 50%;
    }
    .page-ath-content {
        width: 50%;
    }
    .how-work-img {
        max-width: 120px;
        height: 120px;
        padding: 12px;
    }
    .download-app-srceen{
        right: 20px;
    }
    .app-btn li a img{
        height: 40px;
    }
    .testi-flex-slider{
		flex-direction: column;
		align-items: center;
	}
	.testi-main-slide-box{
		width: 100%;
	}
	.testi-thumb-slide-box{
		width: 100%;
	}
	.slick-thumb-next, 
	.slick-thumb-prev {
	    text-align: center;
	    cursor: pointer;
	    position: absolute;
	    transform: rotate(-90deg);
	    top: 20px;
	}
	.slick-thumb-prev{
		left: 0;
		opacity: 1;
		visibility: visible;
	}
	.slick-thumb-next{
	    right: 0;
	}
	.testi-thumb-slide-box{
		margin-top: 20px
	}
	.testi-box{
		margin-bottom: 30px
	}
    .help-image{
        text-align: left;
        margin-bottom: 20px
    }
    .help-qst-box{
        text-align: center;
    }
    .help-box{
        padding: 1.5rem 10px;
    }
    .blog-content {
        margin-bottom: 30px;
    }
    .make-interview-col p{
        margin-left: 0;
    }
}

@media (max-width: 767.98px) {
    /*---login----*/
    .page-ath-gfx {
        display: none;
    }
    .page-ath-content {
        width: 100%;
    }
    .page-ath-center .page-ath-gfx{
        display: block;
    }

    .home-banner-content h1 {
        font-size: 46px;
        margin-bottom: 30px;
    }
    .home-banner-content p {
        font-size: 16px;
        margin: 0 auto 30px;
    }
    .footer-col {
        margin-bottom: 40px;
    }
    .footer-title{
        margin-bottom: 20px;
    }
    .app-srceen-part{
        padding-bottom: 70%;
        max-width: 65%;
        margin: 0 auto 25px;
    }
    .app-srceen-info{
        text-align: center;
    }
    .stories-srceen-app {
        margin-bottom: 25px;
    }
    .stories-srceen-app {
        max-width: 400px;
    }
    .download-app-row{
        margin: 50px 0px 00px;
    }
    .download-app-srceen{
        position: static;
        top: auto;
        text-align: center;
        margin-top: -100px;
    }
    .download-app-srceen img {
        max-width: 220px;
    }
    .download-app-info {
        padding: 40px 0;
    }
    .download-img {
        max-width: 180px;
    }
    .contact-part{
        padding: 35px 25px;
    }
    .blog-navbar-icon {
        width: 80px;
        height: 80px;
    }
    .blog-navbar-icon img {
        height: 35px;
    }
    .blog-category h4 {
        font-size: 22px;
    }
    .blog-tag-icon a {
        width: 30px;
        height: 30px;
        line-height: 26px;
    }
    .blog-tag-icon a svg{
        width: 20px;
    }
    .blog-detail-title {
        display: block;
    }
    .blog-detail-date span{
        display: inline-block;
        line-height: 1.2;
        padding: 5px 10px;
    }
    .blog-detail-title h3{
        font-size: 26px;
        padding-right: 0;
        margin-bottom: 15px;
    }
    .users-section:before{
        width: 30%;
    }
}

@media (max-width: 575.98px) {
    .user-header-name,
    .user-dropdown-arrow{
        display: none;
    }
    .user-dropdown-icon {
        color: #fff;
        font-size: 13px;
        width: 35px;
        height: 35px;
        text-align: center;
        background-color: #fff;
        border-radius: 50%;
        color: #00ae86;
        padding-top: 11px;
    }
    .page-footer{
        flex-direction: column;
    }
    .app-btn li:not(:last-child) a {
        margin-right: 10px;
    }
    .testi-user-img{
		width: 150px;
	    height: 150px;
	    max-width: 150px;
	    max-height: 150px;
	}
    .download-app{
        padding: 0;
    }
    .download-app::before, .download-app::after{
        display: none;
    }
    .logo-app-icon {
        max-width: 60px;
    }
    .about-features{
        text-align: center;
    }
    .blog-navbar-icon {
        width: 60px;
        height: 60px;
    }
    .blog-navbar-icon img {
        height: 28px;
    }
    .blog-category h4 {
        font-size: 18px;
    }
    .blog-category-heading {
        text-align: center;
    }
    .blog-category-left {
        margin: 0 auto 20px;
    }
    .blog-slider-content{
        margin-left: 0;
        padding: 0 20px;
        padding-left: 25px;
    }
    .blog-tag{
        left: 25px;
    }
    .blog-tag-icon{
        left: 25px;
    }
    .blog-category-left {
        min-width: 80px;
        min-height: 80px;
        max-width: 80px;
        max-height: 80px;
    }
    .blog-category-left img {
        height: 32px;
    }
    .blog-content .blog-slider-content{
        padding: 0;
    margin-left: 0;
    }
    .blog-content .blog-slider-content::before{
        display: none;
    }
    .blog-content .blog-tag-icon {
        left: 15px;
        bottom: 15px;
    }
    .make-interview-number::before{
        width: 60px;
        height: 60px;
    }
    .make-interview-number span{
        font-size: 60px;
    }
    .make-interview-col p{
        font-size: 16px;
        line-height: 1.3;
    }
}


@media (max-width: 479.98px) {
    .logo-part {
        max-width: 180px;
    }
	.page-ath-form{
        padding: 30px 20px;
    }
    .app-srceen-part {
        padding-bottom: 80%;
        max-width: 75%;
    }
    .blog-tag .btn-default {
        padding: 4px 12px;
        font-size: 14px;
    }
    .blog-date {
        top: 10px;
        right: 10px;
        padding: 7px;
    }
    .view-openings-part .col-12 {
        margin-bottom: 35px;
    }
}


@media (max-width: 349.98px) {
    .home-banner-content{
        margin: 0 auto 30px;
    }
	.home-banner-content h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .home-banner-content p {
        font-size: 14px;
        margin: 0 auto 20px;
    }
    .blog-category h4 {
        font-size: 16px;
    }
}