@charset "utf-8";
/* CSS Document */

@import url('bootstrap.min.css');
@import url('fontawesome.min.css');
@import url('feathericon.css');
@import url('animate.min.css');
@import url('owl.carousel.min.css');
@import url('slick.css');
@import url('video-js.css');
@import url('swiper-slider.css');
@import url('normal.css');
/*----------drodpown----------*/
.dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0px 0px 22px rgb(0 0 0 / 30%);
    box-shadow: 0px 0px 22px rgb(0 0 0 / 30%);
    transition: all 0.5s ease;
    transform: translateY(20%) !important;
}
.dropdown-menu.show {
    opacity: 1;
    transform: translateY(5%) !important;
    visibility: visible;
}
/*------------Header--------------*/
.header-wrapper.account-logined{
    background-color: #fff;
}
.header-wrapper {
   position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1001;
    padding: 10px 0;
    transition: 0.45s;
}
.header-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-wrapper.header-sticky {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}
.logo-pink, .header-sticky .logo-white{
    display: none;
}
.header-sticky .logo-pink{
    display: block;
}
.inner-page-navbar {
    background-color: #27282c;
}
.logo-part {
    max-width: 170px;
    display: block;
}
.nav-bar > ul > li {
    position: relative;
    margin: 0 15px;
}
.nav-bar > ul > li a {
    font-family: 'Graphit-Regular';
    font-size: 16px;
    color: #C1C1C2;
    position: relative;
    display: block;
    padding: 5px 0px;
    text-transform: capitalize;
    transition: 0.5s;
}
.nav-bar > ul > li a::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    width: 70%;
    height: 2px;
    margin: auto;
    background-color: #FF3761;
    opacity: 0;
    transition: 0.5s;
}
.nav-bar > ul > li a:hover,
.nav-bar > ul > li.active a{
    color: #fff;
    opacity: 1;
}
.header-sticky .nav-bar > ul > li a:hover,
.header-sticky .nav-bar > ul > li.active a{
    color: #FF3761;
    opacity: 1;
}
.header-sticky .nav-bar > ul > li a::before{
    background-color: #FF3761;
}
.nav-bar > ul > li a:hover::before,
.nav-bar > ul > li.active a::before{
    opacity: 1;
}
.account-right li{
    position: relative;
    margin-left: 10px;
}
.header-btn{
    display: block;
}
.header-sticky .header-btn{
    color: #fff;
}
.header-btn i{
    display: none;
}
.header-btn.btn-default.btn-theme:hover{
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.header-sticky .header-btn.header-btn.btn-default.btn-theme:hover {
    background-color: transparent;
    border-color: #FF3761;
    color: #FF3761;
}
.menu-part {
    margin-left: 15px;
}
.menu-overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.menu-overlay-bg.active{
	opacity: 1;
    visibility: visible;
}
.dropdown-item {
    font-weight: 500;
    font-size: 14px;
    color: #949496;
    display: inline-block;
    width: 100%;
    padding: 8px 15px;
    transition: 0.5s;
  }

.lang-dropdown{
    margin:0 10px;
}
.lang-dropdown .dropdown-toggle {
    display: block;
    padding: 0;
    padding-right: 15px;
}
.header-sticky .lang-dropdown .dropdown-toggle{
    color: #C1C1C2;
}
.lang-item{
    display: flex;
    align-items: center;
}
.lang-dropdown .dropdown-toggle img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    }
.lang-dropdown .dropdown-toggle span {
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
    line-height: 12px;
}
.header-sticky .lang-dropdown .dropdown-toggle span {
    color: #C1C1C2;
    opacity: 1;
}
.lang-dropdown .dropdown-menu{
    transform: translateY(30px) !important;
}
.lang-dropdown .dropdown-menu {
    min-width: 240px;
    left: auto !important;
    right: 0;
    padding: 0;
    border: none;
}
.lang-dropdown .dropdown-toggle::after{
    position: absolute;
    right: 0;
    top: 36%;
    color: #fff;
}
.header-sticky .lang-dropdown .dropdown-toggle::after{
    color: #C1C1C2;
}
.lang-dropdown .dropdown-menu.show {
    transform: translateY(30px) !important;
}
.lang-dropdown-list {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.lang-dropdown .dropdown-item {
    min-width: 50%;
    max-width: 50%;
    padding: 6px 12px;
    border-radius: 2px;
    text-transform: capitalize;
}
.lang-dropdown .dropdown-item:focus{
    background-color: #191f33;
}
.lang-dropdown .dropdown-item:hover {
    color: #fff;
    background-color: #FF3761;
}
.lang-dropdown .dropdown-item.active{
    color: #fff;
    background-color: #FF3761;
}
.dropdown-item img.img-flag {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.4s;
}
.lang-dropdown .dropdown-item.active img,
.lang-dropdown .dropdown-item:hover img{
    box-shadow: 0 0 8px #808080;
}
.header-user-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-header-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.user-dropdown-icon{
    color: #fff;
    font-size: 13px;
}
.user-header-name {
    color: #fff;
    position: relative;
    font-weight: 400;
    letter-spacing: 0.3px;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px 12px;
    display: inline-block;
    margin-bottom: 0;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-dropdown-arrow{
    font-size: 12px;
    color: #fff;
}
.header-profile-dropdown .dropdown-menu:before {
    background-image: url(../images/dropdown-arrow.png);
    position: absolute;
    content: '';
    top: -11px;
    right: 10px;
    width: 17px;
    height: 13px;
    background-repeat: no-repeat;
}
.header-profile-dropdown .dropdown-menu {
    border: none;
    min-width: 200px;
    -webkit-box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    right: -2px;
    left: initial;
    padding: 0;
}
.profile-dropdown-link {
    padding: 10px 4px;
}
.profile-dropdown-link a {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #4f4f4f;
    display: inline-block;
    width: 100%;
    padding: 8px 16px;
}
.profile-dropdown-link a:hover {
    color: #00AE86;
    padding-left: 20px;
}


/*---------------login-page---------------*/
.page-ath-wrap {
    display: flex;
    min-height: 100vh
}

.page-ath-logo{
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
}
.page-ath-logo img{
    max-width: 180px;
}
.page-ath-heading {
    font-size: 26px;
    font-weight: 600;
    color: #121212;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 35px;
}

.page-ath-heading small {
    display: block;
    font-weight: 400;
    font-size: 0.66em;
    color: #495463;
    letter-spacing: normal;
    margin-top: 10px
}

.page-ath-heading span {
    display: block;
    font-weight: 400;
    font-size: 0.61em;
    color: #495463;
    letter-spacing: normal;
    line-height: 1.62;
    padding-top: 15px
}

.page-ath-form {
    width: 460px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 50px;
}

.page-ath-header {
    padding-top: 40px
}

.page-ath-footer {
    padding-bottom: 30px
}
.page-ath-content {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.page-ath-gfx {
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    display: flex;
    align-items: center;
    width: 60%;
}
.forgot-link a{
    color: #121212;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.form-control:disabled, 
.form-control[readonly] {
    background-color: #e4e6e9;
    opacity: 1;
}
.mt-btn {
    margin-top: 35px;
}

.footer-top{
    background: #3C393A;
}
.footer-col{
    margin-bottom: 50px;
}
.footer-logo{
    max-width: 170px;
    margin-bottom: 20px;
}
.footer-col-info p{
    color: #fff;
}
.footer-title{
    font-family: 'Graphit-Medium';
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer-menu li a{
    line-height: 20px;
    display: block;
    color: #B1B0B0;
    text-transform: capitalize;
    padding-left: 15px;
    position: relative;
    margin-bottom: 10px;
}
.footer-menu li a::before{
    content: '';
    position: absolute;
    left: 1px;
    top: 8px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #B1B0B0;
}
.footer-menu li a:hover{
    color: #fff;
}
.footer-menu li a:hover::before{
    background-color: #fff;
}
.footer-icon li a{
    font-size: 18px;
    color: #fff;
    display: block;
    margin-right: 20px;
}

.footer-bottom{
    background-color: #fff;
    padding: 15px 0;
    text-align: center;
}
.footer-copyright p{
    font-family: 'Graphit-Medium';
    color: #3C393A;
    margin-bottom: 0;
}
.form-footer-link p {
    color: #4e4e4e;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.form-footer-link p a {
    color: #00ae86;
}
.forgot-link a {
     font-size: 14px;
    color: #121212;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.login-btn{
    background-color: #00ae86;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 12px 32px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.5s;
    text-align: center;
    text-transform: capitalize;
}

/*-----login-center-----*/
.page-ath-center{
    position: relative;
}
.page-ath-center .page-ath-gfx{
    position: absolute;
    width: 100%;
    height: 100%;
}
.page-ath-center .page-ath-content{
    z-index: 1;
    position: relative;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
}
.page-ath-center .page-ath-form{
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    border-radius: 6px;
    margin: 30px;
    max-width: 460px;
    width: 95%;
    border-radius: 30px;
    position: relative;
}
.back-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border-radius: 10px;
    background-color: #fff;
}
.back-btn:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 1);
}
.download-img {
    max-width: 230px;
    display: block;
    margin: 0 auto 20px;
}
.download-app-content h4{
    font-family: 'Graphit-Medium';
    font-weight: normal;
}
.download-social-icon li a{
    font-size: 19px;
    color: #000000;
    margin: 0 15px;
    display: block;
    line-height: 1;
}
.download-social-icon li a svg{
    width: 24px;
    height: 24px;
    display: block;
}

/*------content-area------*/
.content-area-container {
    padding-top: 60px;
    min-height: calc(100vh - 384px);
}

.bg-banner{
    position: relative;
    min-height: 450px;
    display: flex;
    align-items: center;
}
.bg-fixed{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bg-overlap::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(29, 27, 27, 0.5); */
    background-image: linear-gradient(180deg, rgb(0 0 0 / 60%), rgb(0 0 0 / 50%));
}
.home-banner{
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.home-banner-content{
    position: relative;
    max-width: 600px;
    margin:0 auto 50px;
    z-index: 2;
}
.home-banner-content h1{
    font-size: 60px;
    color: #fff;
    margin-bottom: 50px;
}
.home-banner-content p{
    font-size: 18px;
    color: #fff;
    max-width: 350px;
    margin: 0 auto 50px;
}
.page-banner-content {
    position: relative;
    z-index: 1;
}
.page-banner-content h1{
    font-size: 40px;
    color: #fff;
    margin-bottom: 15px;
}
.page-banner-content p{
    color: #fff;
    max-width: 550px;
    margin: 0 auto 0px;
}
.app-btn li a{
    display: block;
}
.app-btn li:not(:last-child) a{
    margin-right: 20px;
}
.app-btn li a img {
    border-radius: 5px;
    height: 40px;
    transition: 0.4s;
}
.app-btn li a:hover img{
    transform: scale(1.1);
}
.home-banner .video-js{position: absolute;width: 100%;height: 100%; top: 0;left: 0;}
.home-banner .video-js .vjs-tech {
    overflow: hidden;
    object-fit: cover;
}

.col-heading{
    position: absolute;
    top: -140px;
    left: 0;
}
.col-heading h6{
    font-size: 100px;
    line-height: 120px;
    color: #FFFFFF;
    text-shadow: 4px 4px 30px rgb(255 28 113 / 5%);
    margin-bottom: 0;
    letter-spacing: -4px;
}
.app-srceen-part{
    position: relative;
    height: 0;
    padding-bottom: 100%;
}
.m-img-absolute {
    position: absolute;
    width: auto;
    max-width: 330px;
    height: 100%;
    top: 0;
    display: block;
}
.left-img {
    left: 0;
}
.right-img {
    right: 0;
}
.m-img-absolute img{
    height: 100%;
}
.app-srceen-info{
    position: relative;
}
.app-srceen-info h2{
    margin-bottom: 20px;
}
.app-srceen-info p{
    margin-bottom: 0;
}
.app-srceen-part::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.shape-part-1::before{
    background-image: url('../images/shape-1.png');
}
.shape-part-2::before{
    background-image: url('../images/shape-2.png');
}
.shape-part-3::before{
    background-image: url('../images/shape-3.png');
}

.stories-srceen-info h2{
    margin-bottom: 20px;
}

.stories-srceen-app span{
    display: inline-block;
}
.stories-srceen-app span img{
    background: #FFFFFF;
    box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.2);
}
.stories-srceen-2{
    margin-left: -25px;
}
.how-work-col{
    background: #FFFFFF;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 0 40px 40px;
    text-align: center;
    height: 100%;
    transition: 0.4s;
}
.how-work-number{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -35px;
}
.how-work-number span{
    color: #FFFFFF;
    display: block;
}
.how-work-num1{
    background: #FFA429;
}
.how-work-num2{
    background: #18D39E;
}
.how-work-num3{
    background: #40B6FF;
}
.how-work-col h5{
    font-family: 'Graphit-Medium';
    font-weight: normal;
    margin-bottom: 20px;
}
.how-work-col p {
    max-width: 320px;
    margin: 0 auto 30px;
}
.how-work-img{
    max-width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
    padding: 18px;
    border: 1px solid #E8E9EA;
    display: flex;
    align-items: center;
    justify-content: center;

}
.how-work-img img{
    border-radius: 50%;
    transition: 0.5s;
}
.how-work-col:hover .how-work-img img{
    transform: rotate(-360deg);
}

.why-us-col li{
    border: 1px solid #E8E9EA;
    border-radius: 50px;
    padding: 8px;
    color: #3C393A;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.why-us-col li span{
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    line-height: 45px;
    background: #FF3761;
    border-radius: 50px;
    color: #fff;
    font-size: 26px;
    text-align: center;
    margin-right: 20px;
    display: block;
}

.download-app-row{
    background: #FF3761 url('../images/download_bg.png') no-repeat 0 0 / cover;
    border-radius: 30px;
    position: relative;
    margin: 90px 0px 90px;
    padding: 0 20px;
}

.download-app-info{
    padding: 90px 0;
}
.download-app-info h3{
    font-family: 'Graphit-Medium';
    font-weight: normal;
    color: #fff;
    margin-bottom: 20px;
}
.download-app-info p{
    color: #fff;
}

.download-app-srceen {
    position: absolute;
    top: -100px;
    right: 0;
}
.download-app-srceen img{
    max-width: 265px;
}

.testi-img{
	position: relative;
}
.bg-image-testi {
    width: 100%;
}
.testi-user-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
}
.testi-detail h4 {
    font-family: 'Graphit-Regular';
    font-size: 20px;
    letter-spacing: 0.3px;
    margin-bottom: 15px;
}
.testi-detail h6 {
    font-family: 'Graphit-Regular';
    font-size: 14px;
    color: #B0B3B8;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
}
.testi-detail p{
	font-family: 'Graphit-Regular';
	color: #3C393A;
}
.testi-flex-slider{
	display: flex;
}
.testi-main-slide-box{
	width: 88%;
}
.testi-thumb-slide-box{
	width: 12%;
}
.testi-user-thumb{
	text-align: center;
}
.testi-user-thumb img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    transform: scale(0.7);
    transition: 0.3s;
    margin: 8px 0px;
}
.slick-current.testi-user-thumb img{
	transform: scale(1);
}
.slick-thumb-prev{
	opacity: 0;
	visibility: hidden;
}
.slick-thumb-next,
.slick-thumb-prev{
	text-align: center;
	cursor: pointer;
}
.slick-thumb-next img,
.slick-thumb-prev img{
	max-width: 11px;
}

.contact-part{
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    padding: 75px 60px;
    position: relative;
    z-index: 1;
}
.contact-left > h5{
    font-family: 'Graphit-Regular';
    font-weight: normal;
    margin-bottom: 15px;
}
.contact-left > h2{
    font-family: 'Graphit-Medium';
    font-weight: normal;
    margin-bottom: 40px;
}
/* .contact-form .form-group {
    margin-bottom: 10px;
} */
.contact-form .form-control{
    font-family: 'Graphit-Regular';
    font-size: 14px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 0;
}
.contact-right h6{
    font-family: 'Graphit-Medium';
    font-weight: normal;
    margin-bottom: 40px;
}
.contact-right li{
    display: flex;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.contact-right li span{
    max-width: 30px;
    min-width: 30px;
}
.contact-info{
    margin-left: 20px;
}
.contact-info h5{
    font-family: 'Graphit-Regular';
    font-size: 14px;
    font-weight: normal;
}
.contact-info p{
    font-size: 16px;
    color: #3C393A;
    margin-bottom: 0;
}
.contact-info p a{
    color: #3C393A;
}
.social-icon-bm a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FF3761;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.social-icon-bm a svg{
    width: 22px;
    color: #fff;
    fill: #fff;
}

.section-map{
    height: 550px;
    margin-top: -150px;
}

.about-left-info h2{
    margin-bottom: 30px;
}
.about-left-info h4{
    font-family: 'Graphit-Regular';
    color: #B0B3B8;
    font-weight: normal;
    margin-bottom: 20px;
}

.about-right-img{
    position: relative;
    padding-right: 15px;
}
.shape-img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.about-features{
    margin-bottom: 50px;
}
.about-features-icon{
    margin-bottom: 20px;
}
.about-features h4{
    margin-bottom: 20px;
}
.about-features p{
    margin-bottom: 0px;
}
.about-features-icon img {
    height: 55px;
}

.stories-col{
    position: relative;
    overflow: hidden;
}
.stories-col::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(29, 27, 27, 0.5); */
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
     transition:all 0.4s;
}
.stories-col::after{
    content: '';
    position: absolute;
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border:1px solid rgba(255, 255, 255, 0.3);
    z-index: 2;
     transition:all 0.4s;
}
.stories-col:hover::after{
    border-color:rgba(255, 255, 255, 0.5);
}
.stories-col h4{
    font-size: 24px;
    color: #fff;
    position: absolute;
    left: 0;
    right:0;
    bottom: 0px;
    transform: translateY(-40px);
    /* bottom: 50%;
    transform: translateY(50%); */
    text-align: center;
    margin-bottom: 0;
    z-index: 3;
     transition:all 0.4s;
}
.stories-img img{
    width: 100%;
    transition:all 0.6s;
}
.stories-col:hover img{
    transform:scale(1.3) rotate(-10deg);
}
.section-download{
    background: url('../images/download_app.jpg') no-repeat center center / cover;
    position: relative;
}
.section-download::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 55, 98, 0.75);
}
.download-app{
    max-width: 520px;
    padding: 0 50px;
    margin: auto;
    position: relative;
    text-align: center;
}
.download-app::before,
.download-app::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    width: 50px;
    height: 117px;
}
.download-app::before{
    left: 0;
    background: url('../images/icons/arrow_left.svg') no-repeat 0 0 / 100% 100%;
}
.download-app::after{
    right: 0;
    background: url('../images/icons/arrow_right.svg') no-repeat 0 0 / 100% 100%;
}
.logo-app-icon{
    max-width: 70px;
    margin: 0 auto 20px;
}
.download-app h3{
    color: #fff;
}
.download-app p{
    color: #fff;
}

.all-help-box-container {
    position: relative;
    z-index: 1;
}
.help-box {
    padding: 1.5rem;
    border-bottom: 2px solid #EEEEEE;
    margin-bottom: 20px;
}
.help-box:last-child{
    border-bottom: none;
}
.help-heading-box{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.help-heading-box h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    color: #FF3761;
    margin-right: 15px;
    margin-bottom: 0;
}
.help-heading-box span {
    color: #a8b1ba;
    font-size: .75rem;
    position: relative;
    top: 8px;
}
.help-list-qst>.col-lg-6 {
    display: none;
}
.help-list-qst>.col-lg-6:nth-child(1),
.help-list-qst>.col-lg-6:nth-child(2),
.help-list-qst>.col-lg-6:nth-child(3),
.help-list-qst>.col-lg-6:nth-child(4){
  display: block;
}
.help-list-qst .col-lg-6.col-lg-12{
  display: block;
}
.help-image {
    text-align: center;
}
.help-image img {
    max-height: 150px;
}
.help-more-btn {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #FF3761;
    border: none;
    border-radius: 4px;
    padding: 8px 20px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    transition: 0.5s;
    letter-spacing: 0.3px;
}
.help-more-btn i{
    position: relative;
    font-size: 12px;
}
.help-more-btn:hover{
    background-color: #ff3761;
    color: #fff;
}
.qustion-list {
    margin-bottom: 15px;
}
.qustion-list a{
    color: #3C393A;
    transition: 0.2s;
}
.qustion-list a:hover{
    color: #FF3761;
}
.help-qst-box{
    text-align: right;
}
.image-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.help-detail-img{
    text-align: left;
    margin-bottom: 30px;
}
.help-detail-img img{
    max-width: 250px;
}
.help-detail-heading h5 {
    font-size: 30px;
    letter-spacing: 0.3px;
    font-weight: 600;
    line-height: 1.2;
    color: #FF3761;
    margin-right: 15px;
    margin-bottom: 20px;
}
.help-detail-text-box a {
    color: #FF3761; 
}
.help-detail-text-box a:hover{
  text-decoration: underline;
}
.help-detail-text-box h4 {
    font-family: 'Graphit-Regular';
    font-size: 17px;
    margin-top: 22px;
    display: inline-block;
    width: 100%;
}
.help-detail-text-box ul{
    list-style: initial;
}
.help-detail-text-box p,
.help-detail-text-box ul li,
.help-detail-text-box ol li{
        color: #3C393A;
    width: 100%;
    transition: 0.5s;
    font-size: 16px;
    letter-spacing: 0.3px;
    margin-bottom: 1rem;
}
.help-detail-text-box strong{
  color: #2b3c4d;
}

.help-detail-text-box ul,
.help-detail-text-box ol{
  padding-left: 40px;
}
.help-detail-btn{
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}
.help-back-btn{
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    background-color: #ff3761;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 20px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
    letter-spacing: 0.3px;
}
.help-back-btn:hover{
    color: #fff;
}
code{
  color: #FF3761;
}

/*--------*/
.default-content-area {
    padding: 30px 0px;
    border-radius: 6px;
}
.content-flex {
    display: flex;
    align-items: flex-start;
}
.content-area {
    margin-bottom: 25px;
}
.content-area h6 {
    font-size: 15px;
    color: #3C393A;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    line-height: 25px;
    font-family: 'Graphit-Regular';
}
.content-star-icon{
    margin-right: 9px;
    max-width: 16px;
    position: relative;
    top: 3px;
}
.content-area .content-flex.active h6{
    color: #FF3761;
}
.content-sub-data .content-flex{
    margin-bottom: 20px;
}
.content-line-icon{
    margin-right: 13px;
    max-width: 12px;
    position: relative;
    top: 11px;
}
.content-number {
    color: #3C393A;
    width: 32px;
    margin-right: 9px;
    position: relative;
    text-align: center;
}
.context-inner-text {
    display: flex;
    align-items: flex-start;
}
.context-inner-text:before {
       content: '~';
    font-size: 20px;
    margin-right: 10px;
    position: relative;
    top: -2px;
    color: #3C393A;
}
.content-area span {
    color: #f67611;
}
.content-area a {
    font-weight: 600;
    color: #ff3761;
    display: inline-block;
    word-break: break-word;
}
.content-area a:hover{
    text-decoration: underline;
}
.content-area ul{
    padding-left: 20px;
}
.content-area li{
    list-style: initial;
}
.content-area p, 
.content-area li {
    letter-spacing: 0.3px;
    font-size: 15px;
    color: #3C393A;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 26px;
}
.blog-category{
    display: block;
}
.blog-navbar-icon{
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgba(255, 28, 113, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.blog-navbar-icon img{
    height: 50px;
}
.blog-category:hover .blog-navbar-icon{
    box-shadow: none;
}
.blog-category-left{
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin: 0 0 20px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgba(255, 28, 113, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.blog-category-left img{
    height: 40px;
}
.blog-category-title h3{
    color: #FF3761;
    margin-bottom: 10px;
}
.blog-thumbnail{
    position: relative;
}
.blog-thumbnail a {
    overflow: hidden;
    display: block;
    border-radius: 10px;
}
.blog-thumbnail img{
    border-radius: 10px;
    width: 100%;
    transition: 0.4s;
}
.blog-slide:hover img {
    transform: scale(1.3) rotate( -5deg);
}
.blog-slider-content{
    position: relative;
    margin-top: 15px;
    padding: 0 30px;
    margin-left: 15px;
}
.blog-slider-content::before{
    content: '';
    position: absolute;
    left: 10px;
    top: -70px;
    width: 2px;
    height: 120px;
    background-color: #FF3761;
}
.blog-tag {
    position: absolute;
    bottom: 10px;
    left: 45px;
}
.blog-tag-icon{
    position: absolute;
    bottom: 20px;
    left: 45px;
}
.blog-tag-icon a{
    width: 32px;
    height: 32px;
    line-height: 28px;
    background-color: #FF3761;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    text-align: center;
}
.blog-tag-icon a svg{
    color: #fff;
    fill: #fff;
    width: 20px;
}
.blog-tag .btn-default{
    padding: 6px 15px;
}
.blog-slider-content h5{
    font-family: 'Graphit-Regular';
    margin-bottom: 15px;
    font-weight: normal;
}
.blog-slider-content h5 a{
    color: #3C393A;
}
.bswiper-arrowbtn{
    width: 42px;
    height: 42px;
    line-height: 38px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 3px 20px rgba(255, 28, 113, 0.1);
}
.blog-date{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    text-align: center;
}
.blog-date h6{
    font-family: 'Graphit-Medium';
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
    font-weight: normal;
}
.blog-date span{
    font-size: 15px;
    color: #fff;
    display: block;
    text-transform: capitalize;
}
.blog-date i{
    font-size: 12px;
    color: #fff;
    display: block;
    font-style: normal;
}

.breadcrumb-part li{
    color: #fff;
    text-transform: capitalize;
}
.breadcrumb-part li a{
    color: #fff;
    display: block;
    position: relative;
    padding-right: 40px;
}
.breadcrumb-part li a:hover{
    color: #FF3761;
}
.breadcrumb-part li a::after{
    content: '';
    display: inline-block;
    width: 23px;
    height: 14px;
    margin: 0 8px 0 0;
    margin-bottom: 3px;
    background: url(../images/blog/arrow_white.svg) no-repeat 0 0 / 100% 100%;
    position: absolute;
    right: 0;
    top: 5px;
}
.blog-aside-row:not(:last-child){
    margin-bottom: 60px;
}
.blog-aside-row h4{
    color: #FF3761;
    margin-bottom: 20px;
}
.blog-aside-categories li{
    margin-bottom: 12px;
}
.blog-aside-categories li a{
    display: flex;
    align-items: center;
    color: #B0B3B8;
    text-transform: capitalize;
}
.blog-aside-categories li a span{
    display: block;
    margin-right: 15px;
}
.blog-aside-categories li a:not(.active) img{
    filter: grayscale(1);
}
.blog-aside-categories li a.active{
    color: #FF3761;
}
.recent-stories-row{
    display: flex;
    margin-bottom: 20px;
}
.recent-stories-left{
    min-width: 90px;
    min-height: 90px;
    max-width: 90px;
    max-height: 90px;
    margin-right: 15px;
}
.recent-stories-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background: #C4C4C4;
}
.recent-stories-right a{
    color: #B0B3B8;
    display: block;
}
.blog-detail-title{
    display: flex;
    justify-content: space-between;
}
.blog-detail-title h3{
    color: #FF3761;
    font-weight: 700;
    padding-right: 15px;
}
.blog-detail-date{
    font-size: 14px;
    color: #FFFFFF;
}
.blog-detail-date span{
    font-size: 14px;
    background-color: #FF3761;
    color: #fff;
    padding: 6px 15px;
    display: block;
    text-align: center;
    border-radius: 5px;
    white-space: nowrap;
}
.blog-detail-date i{
    font-size: 18px;
    display: inline-block;
    margin-right: 6px;
    font-style: normal;
    font-weight: 500;
}
.careers-left-text h3{
    margin-bottom: 20px;
}
.careers-left-text p{
    margin-bottom: 20px;
}
.careers-left-text h6{
    font-family: 'Graphit-Medium';
    font-weight: normal;
    margin-bottom: 15px;
}
.careers-right-img{
    max-width: 400px;
    margin: auto;
}
.make-difference-img {
    max-width: 400px;
}
.make-difference-col{
    margin-bottom: 30px;
}
.make-difference-icon{
    width: 60px;
    height: 60px;
    margin: 0 0 20px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgba(255, 28, 113, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.make-difference-icon img{
    height: 28px;
}
.make-difference-col h5{
    margin-bottom: 10px;
}
.make-difference-col p{
    margin-bottom: 0;
}
.view-openings-part .col-12{
    margin-bottom: 50px;
}
.view-openings-col{
    background: #FFFFFF;
    box-shadow: 5px 5px 30px rgba(255, 55, 97, 0.1);
    border-radius: 20px;
    position: relative;
    padding: 20px;
    padding-left: 100px;
    overflow: hidden;
    height: 100%;
}
.view-openings-icon{
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 15px;
}
.view-openings-icon::before{
    content: '';
    position: absolute;
    left: -22px;
    top: -22px;
    width: 100px;
    height: 100px;
    background: url('../images/icons/polygon.png') no-repeat 0 0 / 100% 100%;
}
.view-openings-icon img{
    height: 38px;
    position: relative;
}
.view-openings-col h5{
    margin-bottom: 10px;
}
.view-openings-col h5 a{
    color: #3C393A;
}
.view-openings-col p{
    margin-bottom: 5px;
}
.make-interview-col{
    margin-bottom: 25px;
}
.make-interview-number{
    position: relative;
    max-width: 80px;
    text-align: center;
}
.make-interview-number span{
    font-family: 'Lobster Two', cursive;
    font-size: 80px;
    color: #FF3761;
    font-weight: 700;
    display: block;
    position: relative;
    padding-left: 10px;
}
.make-interview-number::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #F8E6ED;
}
.make-interview-col p{
    font-size: 18px;
    color: #3C393A;
    margin-bottom: 0;
    margin-left: 20px;
}
.story-img{
    overflow: hidden;
    margin-bottom: 15px;
}
.story-img img{
    width: 100%;
    transition: all 0.6s;
}
.story-img:hover img {
    transform: scale(1.3) rotate(-10deg);
}
.users-section{
    position: relative;
}
.users-section:before{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    right: 0;
    background-color: #FF3761;
}
.testi-data-box{
    background: #FFFFFF;
    box-shadow: 5px 5px 30px rgba(255, 55, 97, 0.2);
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
}
.testi-data-user{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.testi-data-text h6 {
    margin-bottom: 5px;
    font-family: 'Graphit-Regular';
    font-size: 16px;
    color: #3C393A;
}
.testi-data-star i{
    font-size: 13px;
}
.testi-data-star i.active {
    color: #F5D66E;
}
.testi-data-box p {
    font-family: 'Lobster Two', cursive;
    color: #3C393A;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 17px;
}
.testi-data-img{
    margin-right: 15px;
}
.testi-data-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.users-slider-arrows{
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
.users-slider-arrows .slider-arrow{
    margin-right: 15px;
}
.users-slider-arrows .slider-arrow img{
    width: 30px;
}

.blog-slider-swiper-arrowbtn {
    padding-bottom: 10px;
}
.skiptranslate {
    display: none !important;
}
.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}

.cd-left-title{
    display: flex;
    max-width: 370px;
}
.cd-label-icon{
    min-width: 60px;
    margin-right: 10px;
    margin-top: 8px;
}
.cd-list-currently ul{
    margin-right: 15px;
}
.cd-list-currently ul li{
    font-family: 'Graphit-Medium';
    font-size: 18px;
    color: #3C393A;
    margin-bottom: 20px;
}
.cd-content-row .content-flex:not(:first-child){
    margin-top: 25px;
}
.cd-content ul{
    padding-left: 28px;
}
.cd-content li{
    list-style-type: none;
    padding-left: 28px;
    position: relative;
}
.cd-content li::before{
    content: '~';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    color: #3C393A;
}
.file-select {
    font-size: 14px;
    position: relative;
    border: 1px dashed #FF3761;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    background: #F5F5F5;
    color: #FF3761;
}
.file-select input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.file-upload-name{
    color: #495057 !important;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}