@charset "utf-8";
/* CSS Document */

@import url('bootstrap.min.css');
@import url('fontawesome.min.css');
@import url('feathericon.css');
@import url('animate.min.css');
@import url('owl.carousel.min.css');
@import url('slick.css');
@import url('video-js.css');
@import url('swiper-slider.css');
@import url('normal.css');

/*----------drodpown----------*/
.dropdown-toggle::after{
    display: none;
}
.dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    transform: translateY(20%) !important;
}
.dropdown-menu.show {
    opacity: 1;
    transform: translateY(5%) !important;
    visibility: visible;
}

/*------------Header--------------*/
.header-wrapper.account-logined{
    background-color: #fff;
}
.header-wrapper {
   position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1001;
    padding: 10px 0;
    transition: 0.45s;
    /*background-color: transparent;*/
}
.header-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-wrapper.header-sticky {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}
.logo-pink, .header-sticky .logo-white{
    display: none;
}
.header-sticky .logo-pink{
    display: block;
}
.inner-page-navbar {
    background-color: #27282c;
}
.logo-part {
    display: block;
}
.nav-bar > ul > li {
    position: relative;
    margin: 0 15px;
}
.nav-bar > ul > li a {
    font-family: 'Graphit-Regular';
    font-size: 16px;
    color: #C1C1C2;
    position: relative;
    display: block;
    padding: 5px 0px;
    text-transform: capitalize;
    /* opacity: 0.5; */
    transition: 0.5s;
}
.nav-bar > ul > li a::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 2px;
    margin: auto;
    background-color: #fff;
    opacity: 0;
    transition: 0.5s;
}
.nav-bar > ul > li a:hover,
.nav-bar > ul > li.active a{
    color: #fff;
    opacity: 1;
}
.header-sticky .nav-bar > ul > li a:hover,
.header-sticky .nav-bar > ul > li.active a{
    color: #FF3761;
    opacity: 1;
}
.header-sticky .nav-bar > ul > li a::before{
    background-color: #FF3761;
}
.nav-bar > ul > li a:hover::before,
.nav-bar > ul > li.active a::before{
    opacity: 1;
}
.account-right li{
    position: relative;
    margin-left: 10px;
}
.header-sticky .header-btn{
    color: #fff;
}
.header-btn i{
    display: none;
}

.menu-part {
    margin-left: 15px;
}
.menu-overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.menu-overlay-bg.active{
	opacity: 1;
    visibility: visible;
}

.header-user-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-header-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.user-dropdown-icon{
    color: #fff;
    font-size: 13px;
}
.user-header-name {
    color: #fff;
    position: relative;
    font-weight: 400;
    letter-spacing: 0.3px;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px 12px;
    display: inline-block;
    margin-bottom: 0;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-dropdown-arrow{
    font-size: 12px;
    color: #fff;
}
.header-profile-dropdown .dropdown-menu:before {
    background-image: url(../images/dropdown-arrow.png);
    position: absolute;
    content: '';
    top: -11px;
    right: 10px;
    width: 17px;
    height: 13px;
    background-repeat: no-repeat;
}
.header-profile-dropdown .dropdown-menu {
    border: none;
    min-width: 200px;
    -webkit-box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    right: -2px;
    left: initial;
    padding: 0;
}
.profile-dropdown-link {
    padding: 10px 4px;
}
.profile-dropdown-link a {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #4f4f4f;
    display: inline-block;
    width: 100%;
    padding: 8px 16px;
}
.profile-dropdown-link a:hover {
    color: #00AE86;
    padding-left: 20px;
}


/*---------------login-page---------------*/
.page-ath-wrap {
    display: flex;
    min-height: 100vh
}

.page-ath-logo{
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
}
.page-ath-logo img{
    max-width: 180px;
}
.page-ath-heading {
    font-size: 26px;
    font-weight: 600;
    color: #121212;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 35px;
}

.page-ath-heading small {
    display: block;
    font-weight: 400;
    font-size: 0.66em;
    color: #495463;
    letter-spacing: normal;
    margin-top: 10px
}

.page-ath-heading span {
    display: block;
    font-weight: 400;
    font-size: 0.61em;
    color: #495463;
    letter-spacing: normal;
    line-height: 1.62;
    padding-top: 15px
}

.page-ath-form {
    width: 460px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 50px;
}

.page-ath-header {
    padding-top: 40px
}

.page-ath-footer {
    padding-bottom: 30px
}
.page-ath-content {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.page-ath-gfx {
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    display: flex;
    align-items: center;
    width: 60%;
}
.forgot-link a{
    color: #121212;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.form-control:disabled, 
.form-control[readonly] {
    background-color: #e4e6e9;
    opacity: 1;
}
.mt-btn {
    margin-top: 35px;
}

.footer-top{
    background: #3C393A;
}
.footer-col{
    margin-bottom: 50px;
}
.footer-logo{
    margin-bottom: 20px;
}
.footer-col-info p{
    color: #fff;
}
.footer-title{
    font-family: 'Graphit-Medium';
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer-menu li a{
    line-height: 20px;
    display: block;
    color: #B1B0B0;
    text-transform: capitalize;
    padding-left: 15px;
    position: relative;
    margin-bottom: 10px;
}
.footer-menu li a::before{
    content: '';
    position: absolute;
    left: 1px;
    top: 8px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #B1B0B0;
}
.footer-menu li a:hover{
    color: #fff;
}
.footer-menu li a:hover::before{
    background-color: #fff;
}
.footer-icon li a{
    font-size: 18px;
    color: #fff;
    display: block;
    margin-right: 20px;
}

.footer-bottom{
    background-color: #fff;
    padding: 15px 0;
    text-align: center;
}
.footer-copyright p{
    font-family: 'Graphit-Medium';
    color: #3C393A;
    margin-bottom: 0;
}
.form-footer-link p {
    color: #4e4e4e;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.form-footer-link p a {
    color: #00ae86;
}
.forgot-link a {
     font-size: 14px;
    color: #121212;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.login-btn{
    background-color: #00ae86;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 12px 32px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.5s;
    text-align: center;
    text-transform: capitalize;
}


    /*-----login-center-----*/
    .page-ath-center{
        position: relative;
    }
    .page-ath-center .page-ath-gfx{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .page-ath-center .page-ath-content{
        z-index: 1;
        position: relative;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        align-items: center;
    }
    .page-ath-center .page-ath-form{
        background-color: #fff;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
        border-radius: 6px;
        margin: 30px;
        max-width: 460px;
        width: 95%;
        border-radius: 30px;
        position: relative;
    }
    .back-btn{
        position: absolute;
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .back-btn:hover{
        color: #fff;
        background-color: rgba(0, 0, 0, 1);
    }
    .download-img {
        max-width: 230px;
        display: block;
        margin: 0 auto 20px;
    }
    .download-app-content h4{
        font-family: 'Graphit-Medium';
        font-weight: normal;
    }
    .download-social-icon li a{
        font-size: 20px;
        color: #000000;
        margin: 0 15px;
        display: block;
    }
    .download-social-icon li a svg{
        width: 24px;
        height: 24px;
        display: block;
    }

/*-------default-content-------*/
.default-content-area {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.16);
    border-radius: 6px;
}
.content-area {
    margin-bottom: 30px;
}
.default-content-area h4 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.default-content-area h4 span {
    color: #000;
}
.content-area h6 {
    font-size: 15px;
    color: #333;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    line-height: 25px;
}
.content-area ul {
    padding-left: 20px;
}
.content-area li{
    list-style: initial;
}
.content-area p, 
.content-area li {
    letter-spacing: 0.3px;
    font-size: 14px;
    color: #8e8c8c;
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 24px;
}
.content-area a {
    font-weight: 600;
    color: #2660a4;
}

/*------content-area------*/
.content-area-container {
    padding-top: 60px;
}

.bg-banner{
    position: relative;
    min-height: 450px;
    display: flex;
    align-items: center;
}
.bg-fixed{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bg-banner::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 27, 27, 0.5);
}
.home-banner{
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.home-banner-content{
    position: relative;
    max-width: 600px;
    margin:0 auto 50px;
    z-index: 2;
}
.home-banner-content h1{
    font-size: 60px;
    color: #fff;
    margin-bottom: 50px;
}
.home-banner-content p{
    font-size: 18px;
    color: #fff;
    max-width: 350px;
    margin: 0 auto 50px;
}
.page-banner-content {
    position: relative;
    z-index: 1;
}
.page-banner-content h1{
    font-size: 40px;
    color: #fff;
    margin-bottom: 15px;
}
.page-banner-content p{
    color: #fff;
    margin: 0 auto 0px;
}
.app-btn li a{
    display: block;
}
.app-btn li:not(:last-child) a{
    margin-right: 20px;
}
.app-btn li a img {
    border-radius: 5px;
    height: 60px;
}
.home-banner .video-js{position: absolute;width: 100%;height: 100%; top: 0;left: 0;}
.home-banner .video-js .vjs-tech {
    overflow: hidden;
    object-fit: cover;
}

.col-heading{
    position: absolute;
    top: -140px;
    left: 0;
}
.col-heading h6{
    font-size: 100px;
    line-height: 120px;
    color: #FFFFFF;
    text-shadow: 4px 4px 30px rgb(255 28 113 / 5%);
    margin-bottom: 0;
    letter-spacing: -4px;
}

.app-srceen-part{
    position: relative;
    height: 0;
    padding-bottom: 100%;
}
.m-img-absolute {
    position: absolute;
    width: auto;
    max-width: 330px;
    height: 100%;
    top: 0;
    display: block;
}
.left-img {
    left: 0;
}
.right-img {
    right: 0;
}
.m-img-absolute img{
    height: 100%;
}
.app-srceen-info{
    position: relative;
}
.app-srceen-info h2{
    margin-bottom: 20px;
}
.app-srceen-info p{
    margin-bottom: 0;
}

.app-srceen-part::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.shape-part-1::before{
    background-image: url('../images/shape-1.png');
}
.shape-part-2::before{
    background-image: url('../images/shape-2.png');
}
.shape-part-3::before{
    background-image: url('../images/shape-3.png');
}

.stories-srceen-info h2{
    margin-bottom: 20px;
}

.stories-srceen-app span{
    display: inline-block;
}
.stories-srceen-app span img{
    background: #FFFFFF;
    box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.2);
}
.stories-srceen-2{
    margin-left: -25px;
}
.how-work-col{
    background: #FFFFFF;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 0 40px 40px;
    text-align: center;
    height: 100%;
    transition: 0.4s;
}
.how-work-number{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -35px;
}
.how-work-number span{
    color: #FFFFFF;
    display: block;
}
.how-work-num1{
    background: #FFA429;
}
.how-work-num2{
    background: #18D39E;
}
.how-work-num3{
    background: #40B6FF;
}
.how-work-col h5{
    font-family: 'Graphit-Medium';
    font-weight: normal;
    margin-bottom: 20px;
}
.how-work-col p {
    max-width: 320px;
    margin: 0 auto 30px;
}
.how-work-img{
    max-width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
    padding: 18px;
    border: 1px solid #E8E9EA;
    display: flex;
    align-items: center;
    justify-content: center;

}
.how-work-img img{
    border-radius: 50%;
    transition: 0.5s;
}
.how-work-col:hover .how-work-img img{
    transform: rotate(-360deg);
}

.why-us-col li{
    border: 1px solid #E8E9EA;
    border-radius: 50px;
    padding: 8px;
    color: #3C393A;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.why-us-col li span{
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    line-height: 45px;
    background: #FF3761;
    border-radius: 50px;
    color: #fff;
    font-size: 26px;
    text-align: center;
    margin-right: 20px;
    display: block;
}

.download-app-row{
    background: #FF3761 url('../images/download_bg.png') no-repeat 0 0 / cover;
    border-radius: 30px;
    position: relative;
    margin: 90px 0px 90px;
    padding: 0 20px;
}

.download-app-info{
    padding: 90px 0;
}
.download-app-info h3{
    font-family: 'Graphit-Medium';
    font-weight: normal;
    color: #fff;
    margin-bottom: 20px;
}
.download-app-info p{
    color: #fff;
}

.download-app-srceen {
    position: absolute;
    top: -100px;
    right: 0;
}
.download-app-srceen img{
    max-width: 265px;
}

.testi-img{
	position: relative;
}
.bg-image-testi {
    width: 100%;
}
.testi-user-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
}
.testi-detail h4 {
    font-family: 'Graphit-Regular';
    font-size: 20px;
    letter-spacing: 0.3px;
    margin-bottom: 15px;
}
.testi-detail h6 {
    font-family: 'Graphit-Regular';
    font-size: 14px;
    color: #B0B3B8;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
}
.testi-detail p{
	font-family: 'Graphit-Regular';
	color: #3C393A;
}
.testi-flex-slider{
	display: flex;
}
.testi-main-slide-box{
	width: 88%;
}
.testi-thumb-slide-box{
	width: 12%;
}
.testi-user-thumb{
	text-align: center;
}
.testi-user-thumb img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    transform: scale(0.7);
    transition: 0.3s;
    margin: 8px 0px;
}
.slick-current.testi-user-thumb img{
	transform: scale(1);
}
.slick-thumb-prev{
	opacity: 0;
	visibility: hidden;
}
.slick-thumb-next,
.slick-thumb-prev{
	text-align: center;
	cursor: pointer;
}
.slick-thumb-next img,
.slick-thumb-prev img{
	max-width: 11px;
}

.contact-part{
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    padding: 75px 60px;
}
.contact-left > h5{
    font-family: 'Graphit-Regular';
    font-weight: normal;
    margin-bottom: 15px;
}
.contact-left > h2{
    font-family: 'Graphit-Medium';
    font-weight: normal;
    margin-bottom: 40px;
}
/* .contact-form .form-group {
    margin-bottom: 10px;
} */
.contact-form .form-control{
    font-family: 'Graphit-Regular';
    font-size: 14px;
    color: #aaa;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 0;
}
.contact-right h6{
    font-family: 'Graphit-Medium';
    font-weight: normal;
    margin-bottom: 40px;
}
.contact-right li{
    display: flex;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.contact-right li span{
    max-width: 30px;
    min-width: 30px;
}
.contact-info{
    margin-left: 20px;
}
.contact-info h5{
    font-family: 'Graphit-Regular';
    font-size: 14px;
    font-weight: normal;
}
.contact-info p{
    font-size: 16px;
    color: #3C393A;
    margin-bottom: 0;
}
.contact-info p a{
    color: #3C393A;
}
.social-icon-bm a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FF3761;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.social-icon-bm a svg{
    width: 22px;
    color: #fff;
    fill: #fff;
}

.section-map{
    height: 550px;
    margin-top: -150px;
    z-index: -1;
}


























